        
        
        
        
        h2 {
            font-size: 30px;
            text-align: center;
            color: white;
        }

        p {
            width: 300px;
            color: white;
        }

        #sobreQatar {
            margin: 10px auto;
            width: 370px;
            padding: 10px;
        }

        main > #conteúdoQatar > h2 {
            color: white;
            margin-bottom: 30px;
            text-align: center;
        }

        #conteúdoQatar > p {
            color: white;
        }

        #mapa > h2 {
            margin: 10px;
        }

        #mapa > iframe {
            display: block;
            margin: 10px auto;
        }

        footer {
            margin-top: auto;
            color: white;
            height: 36px;
            flex: 1;
  
            display:flex;
            align-items: center;
            justify-content:center;
        }

        footer > p {
            color: black;
        }

        footer > a:hover {
            color: #FF004D;
            text-decoration: underline;
        }