@charset "UTF-8";

/* fontes e cores */
@font-face {
    font-family: 'ArabicBold';
    src: url(/fontes/brownregular.otf) format('opentype');
    font-weight: normal;
}

:root {
    /* cores */
    --cor0: #8B1638; /*Cor principal*/
    --cor1: #FF004D; /*Cor secundária*/
    --cor2: #FFFFFF; /*Branco padrão*/
    --cor3: #000000; /*Preto padrão*/

    /* fontes */
    --font-titulo: 'ArabicBold', cursive;
    --font-padrao: Arial, Helvetica, sans-serif;
}
        /* mobile first */
@media screen and (max-width: 1299px) {

    * {
        font-family: var(--font-padrao);
        margin: 0px;
        padding: 0px;
    }

    main {
        width: 768px;
        display: none; 
        width: 100vw;
    }

    body {
        background-image: linear-gradient(to right, #8B1638 60%, #520d23);
        
    }

    h1 {
        font-family: var(--font-padrao);
        font-size: 60px;
        color: var(--cor2);
        text-align: center;
    }

    /* menu hamburguinhos */
    i#burguer {
        background-color: white;
        color: var(--cor3);
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    menu {
        margin: 3px;
        display: ;
        justify-content: space-evenly; 
        display: inline-block;
    }

    menu > ul {
        list-style-type: none;
    }

    menu > ul > li {
        display: list-item;
    }

    menu > ul > li > a {
        /* background-color: #FF004D;
        text-decoration: none;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        color: var(--cor2); */

        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: #FF004D;
        color: white;
        border-top: 2px solid rgba(255, 255, 255, 0.493);
    }

    menu > ul > li > a:hover {
        border: 2px solid rgba(255, 255, 255, 0.473);
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
        transition: transform .5s, border .5s;
    }

    
    
    #menuDeResultados {
        display: none;
    }

    aside {
        text-align: center;
        background-color: var(--cor2);
        max-width: 40%;
        padding: 2px;
        margin: 30px auto;
    }
    
    aside > p {
        font-family: var(--font-padrao);
        font-size: 16px;
        margin-top: 10px;
        padding: 5px;
        color: var(--cor3);
        text-align: ;
    }

    aside > #noticeMobileContent {
        display: block;
    }

    #logoNoMobile > img {
        display: block;
        margin: 1px auto 60px;
    }

    /* rodapé */
    footer {
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor3);
    font-family: var(--font-padrao);
    padding: 5px;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;

}

    /* acessando o link do footer */
    footer > p > a {
        text-decoration: none;
    }

    /* mudando de cor o link do footer */
    footer > p > a:hover {
        color: var(--cor1);
        text-decoration: underline;
    }
    }

/* configurações padrões da página */
@media screen and (min-width: 1300px){ 
* {
    max-width: 100%;
    max-height: 100%;
    
    font-family: var(--font-padrao);
    margin: 0px;
    padding: 0px;
}

/* cor de fundo */
body {
    background-image: linear-gradient(to right, #8B1638 60%, #520d23);
}

/* configurações título */
h1 {
    font-family: var(--font-titulo);
    font-size: 80px;
    color: var(--cor2);
    text-align: center;
}

/* menu hamburguinhos */
i#burguer {
    background-color: rgb(32, 32, 32);
    color: white;
    display: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: block;
}

/* configurações Menu navegação */
menu > ul {
    
    margin: 3px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* links dos menus de navegação */
menu > ul > li > a {
    background-color: #FF004D;
    text-decoration: none;
    text-align: center;
    width: 125px;
    padding: 5px;
    border-radius: 10px;
    color: var(--cor2);
    display: block;
}

/* links do menu de navegaçãos */
menu > ul > li > a:hover {
    border: 2px solid rgba(255, 255, 255, 0.473);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    transition: transform .5s, border .5s;
}



/* botão para mostrar o resultados das oitavas de final */
#menuDeResultados {
    background-color: var(--cor2);
    padding: 5px;
    font-weight: 200;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

#menuDeResultados> p:hover {
    color: var(--cor1);
    text-decoration: underline;
}


/* configurações conteúdo principal */
main {
   display: flex; 
   display: flex;
   justify-content: space-between;
}

/* configs da section */
section {
    width: 153px;
    height: 168px;
    font-size: 14px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.205);
    margin: 24px 0px;
}

/* config lista */
ul {
    list-style: none;
}

/* configurações título h2 de cada grupo */
section > h2 {
    background-color: var(--cor1);
    background-color: var(--cor2);
    color: var(--cor1);
    border-radius: 7px 7px 0px 0px;
    text-align: center;
}

/* configurações entre cada país dentro do grupo */
section > ul > li {
    background-color: var(--cor1);
    color: var(--cor2);
    margin: 5px;
}

/* coluna1 de grupos */
#firstColumnGroup {
    margin-left: 5px;
}

/* coluna2 de grupos oitavas */
div#secondColumnGroup {
    margin-top: 50px;
    text-align: center;
    display: none; 
}

/* coluna3 de grupos quartas */
#thirdColumnGroup {
    text-align: center;
    margin-top: 135px;
    display: none;
}

/* coluna4 de grupos semifinal */
#fourthColumnGroup {
    text-align: center;
    margin-top: 275px;
    display: none;
}

#finalista {
    margin-top: 235px;
    text-align: center;
}

/* coluna5 de grupos semifinal */
#fifthColumnGroup {
    text-align: center; 
    margin-top: 275px;
    display: none;
}

/* coluna6 de grupos quartas */
#sixthColumnGroup {
    text-align: center; 
    margin-top: 135px;
    display: none;
}

/* coluna7 de grupos oitavas */
#seventColumnGroup {
    margin-top: 50px;
    text-align: center; 
    display: none;
}

/* coluna8 de grupos */
#octaveColumnGroup{
    margin-right: 5px;    
}

.sectionQuartas {
    width: 130px;
    height: 108px;
    background-color: var(--cor1);
    border-radius: 7px;

    margin-top: 80px;
}

/* controlar as sections menores dos grupos das oitavas */
.sectionOitavas {
    text-align: left;
    width: 133px;
    height: 108px;
    background-color: var(--cor1);
    border-radius: 7px;
    font-size: 12px;
    margin-top: 40px;
}

.sectionSemifinal {
    width: 130px;
    height: 108px;
    background-color: var(--cor1);
    border-radius: 7px;

    margin-top: 40px;
}

.sectionFinal {
    width: 130px;
    height: 108px;
    background-color: var(--cor1);
    border-radius: 7px;

    margin-top: 40px;
}
/* titulo dos grupos das oitavas */
div > h2 {
    font-family: var(--font-padrao);
    color: white;
}

/* espaço entre países */
h2, ul {
    padding: 5px;
}

/* imagens das seleções */
img {
    background-color: var(--cor1);
}

#imgLogo {
    background-color: var(--cor0);
}

aside {
    
    text-align: center;
}

aside > p {
    font-family: var(--font-titulo);
    font-size: 80px;
    margin-top: -100px;
    color: var(--cor2);
}

/* informação do conteúdo mobile */
aside > #noticeMobileContent {
    display: none;
}

/* logo da copa no mobile */
#logoNoMobile {
    display: none;
}

/* rodapé */
footer {
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor3);
    font-family: var(--font-titulo);
    padding: 5px;
    margin-top: 25px;
    height: 20px;
}

/* acessando o link do footer */
footer > p > a {
    text-decoration: none;
}

/* mudando de cor o link do footer */
footer > p > a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

}


